body {
  background: white;
 
  
}


#title, .subtitle, .post_title{
  color: darkgreen;
  
}

.subtitle {
  font-size: 30px;
  font-style: bold;
  color: limegreen;
}


.post_title {
  font-size: 20px;
  font-style: italic;
  margin: 0;
  margin-bottom: 20px;
}

.post {
  background: white;
  padding: 10px;
  border: 6px solid black;
  margin-bottom: 15px;
    }

.conteudo {
  margin: 0px;
  margin-bottom: 20px;
}
